.libs
libpng.vers
libpng16-config
libpng16.pc
png-fix-itxt
pngfix
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngprefix.h
pngstest
pngtest
pngunknown
pngvalid
scripts/vers.out

Makefile
libpng-config
libpng.pc
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
libs
libpng16.so.16
libpng16.so.16.17.0
install_manifest.txt
